span{
    margin-left: 4vw;
    font-size: 11pt;
    font-weight: 600;
}
div{
    margin-top: 5vh;
    
}
#princpale{
    margin-left: 10px;
    margin-right: 40vw;
    font-size: 20pt;
    font-weight: 900;
    letter-spacing: 5px;

}
@media only screen and (max-width: 1160px) {
    #princpale{
        
        margin-right: 18vw;
        
    
    }
}

@media only screen and (max-width: 785px) {
    span{
        display: none;
        
    }
    #princpale{
        display: contents;
        margin-left: 5px;
        margin-right: 45vw;
        font-size: 20pt;
        font-weight: 900;
    
    }
    
    }