.photos{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin-top:0 ;
    padding-top: 0;
}
.button{
    width:150px ;
    height: 40px;
    border: 2px rgb(46, 157, 255) solid;
    padding-top: 5px;
    border-radius: 5px;
    
}
.button>a{
    text-decoration: none;
    color: rgb(46, 157, 255);
    font-weight: 700;
    font-size: 1rem;
    
}
.button:hover{
    background-color: rgb(46, 157, 255);
}
.button>a:hover{
    color: rgb(255, 255, 255);
    
}

.photo{
    width: 29vw; 
}
.photo>img{
    border-radius: 20px;
    width: 25vw;

   

}

@media only screen and (max-width: 785px) {

    .photos{
        width: 70vw;
    }
    
    .photo{
        width: 100%;  
    }
    
    .photo>img{
        width: 70vw;
        border-radius: 20px;
        margin-bottom: 5vh;
    }
}